html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #24292f;
  height: 100%;
  width: 100%;
  font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif !important;
  -webkit-text-size-adjust:100%;
}

#main-container {
  min-height: 100%;
  position: relative;
  }


#body {
  padding-bottom:6em;
}

#footer {
  margin: 0px auto;
  text-align: center;
  font-size: 0.8em;
  color: #ccc;
  position: absolute;
  width: 100%;
  bottom:0;
  left:0;
  right:0;
  height:6em;
  line-height: 7em;
}

#banner-wrapper, #content {
  margin:0 auto;
}

.article > * {
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;

  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
}

#banner-wrapper, .bg_content, .pagination {
  max-width: 44rem;
  padding: 0 3em 0 3em;
}

#banner-content {
  margin: 0;
}


#banner {
  width: 100%;
  background: #24292f;
  padding: 0 0 0.7em 0;
  overflow: hidden;
}

#site-title {
  padding: 1em 0 0.5em 0;
  font-size: 2.8em;
  font-family: Lato,"Helvetica Neue",Arial,sans-serif;
}

#site-title a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: 700;
}

.post-title {
  font-size: 2.4em;
}

h1, h2, h3, h4, h5, h6 {
  color: #24292f;
  text-decoration: none;
  font-weight: 700;
  font-family: Lato,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0.75em 0 0.25em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em
}

h4 {
  font-size: 1em
}

h5 {
  font-size: 0.9em
}

h6 {
  font-size: 0.8em
}

.article {
  margin: 1em 0;
  padding-bottom: 3em;
}

.article a:visited {
  color: #356082;
}

.article a {
  color: #0181eb;
}

p {
  margin:0;
  padding:0.7em 0;
  font-size: 1.2em;
}

.article p {
  overflow-x: hidden;
  overflow-y: hidden;
}

.hidden {
  display: none;
}

#sidebar {
  min-height: 100%;
  overflow:auto;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
  width: 30%;
  opacity: 97%;
  box-shadow: 2px 0 4px rgba(0,0,0,0.5);
  transition: width .35s;
}

#sidebar.collapsed {
  width: 0;
}

.sidebar-button {
  margin: 10px 5px;
  cursor:pointer;
  outline:none;
  border: none;
  background-color: transparent;
}

.sidebar-button div{
  width: 20px;
  height: 4px;
  background-color: #c9d1d9;
  margin: 3px 0;
  border-radius: 1px;
}

#close-sidebar-button {
  float:right;
}

#open-sidebar-button {
  position: absolute;
}

@media only screen and (max-width: 760px) {

  #site_title {
      font-size: 2.5em;
  }
}

@media only screen and (max-width: 450px) {

  #banner_wrapper{
      padding: 0 1.2em;
  }

  .article > *{
      padding-left: 1.2rem;
      padding-right: 1.2rem;
  }

  .padding-wrapper {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
  }

  p {
      font-size: 1.2em;
      line-height: 1.6em;
  }

  #sidebar {
    width: 70%;
  }
}

@media only screen and (max-width: 350px) {

  p {
      font-size: 1.0em;
      line-height: 1.6em;
  }

  #banner-wrapper {
      padding: 0 1em;
  }

  .article > *, #archive {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .padding-wrapper {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  #sidebar {
    width: 70%;
  }

  .sidebar-button {
    margin: 10px 5px;
  }
}